/***** UNIVERSAL STYLING -- NOT WIDTH SPECIFIC *****/
ul { list-style: none; }

.div-container {
    display: flex;
    flex-wrap: wrap;
}

.flex-row {
    display: flex;
    list-style: none;
    background-color: #F5F5F5;
    margin: 0 0 5px 0;
    position: relative;
    color: black;
}

.flex-row.award .name-col, 
.flex-row.award .discipline-col, 
.flex-row.award .date-col {
    flex: 33.33%;
    margin: 0.3rem 0;
}

.grey-bg {
    display: block;
    background-color: #f2f2f2;
    padding: 5px 5rem 5px 2.5rem;
    transition: 0s;
}

.header-list {
    flex: flex: calc(100% - 3rem);
    margin: 0 -1.25rem;
    padding-left: 0;
}

.second-list .title { display: none; }

.list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.uh-rep::before {
    content:"\F4CF";
}

#intro { padding-bottom: 1.25rem; }
      
#intro h1 { text-transform: uppercase; }
  
#intro p { max-width: 740px; }

#nam-head {
    background-image: url('https://www.uh.edu/provost/academies-awards/_img/grey-gradiant.png');
    border-bottom: 1px solid #e9e9e9;
    overflow: visible;
    padding: 3.375rem 0 0;
}

#nam-head .col-auto > div,
.award-description { max-width: 740px; }

#awardTabs { 
	border-bottom: none;
	margin-top: 99px;
}

#awardTabs li:first-child:has(button.active),
#awardTabs li:last-child:has(button.active) { order: 2; }

#awardTabs li button { 
    border-bottom: none;
    color: #000;
    font-family: 'League Gothic', sans-serif;
    font-size: 54px;
    margin-top: 0px;
    padding: 30px 20px;
    text-decoration: none;
    text-transform: uppercase;
}


/***** DEFAULT SEARCH SECTION THAT DISPLAYS ON /provost/academies-awards/ UNDER TABS *****/
#search-awards .container, 
#award-info .container,
#recipient .container, 
#recipient-info .container,
#recipient-awards .container, 
#other-recipients .container { padding: 0 2.5rem; }

#recipient + #search-awards,
#recipient-awards + #search-awards { 
    background: linear-gradient(180deg, rgba(245, 245, 245,1) 1.3168375863692594%,rgba(255, 255, 255,1) 10.304324942463369%);
    border-top: 1px solid #e9e9e9;
}
 
#search-awards input, 
#other-recipients input {
    border-radius: 25px;
    padding: 7px 2.5rem;
    background-color: #f5f5f5;
    border: 1px solid #e9e9e9;
    color: #111111;
    margin-bottom: 2.5rem;
    margin-left: 1.25rem;
    width: calc(100% - 3.25rem);
}

#search-awards input:focus,
#other-recipients input:focus {
    background: #ffffff;
    outline: 0;
}

#search-awards .indicator {
    padding-left: 3.75rem;
    position: relative;
    font-size: 1.125rem;
    font-style: italic;
    margin-top: -10px;
}

#search-awards h3, 
.award-title, 
#other-recipients h3 {
    padding-left: 2.5rem;
    font-size: 28px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    display: inline-block;
}

.award-title { margin-left: 0; }

#other-recipients .flex-container { width: 100%; }

#other-recipients .flex-container:last-of-type ul:first-child { display: none; }

#search-awards .section-heading { padding-left: 2.5rem; }

#search-awards .name {
    width: 300px;
    flex: 1;
}
  
#search-awards .discipline { flex: 1; }

/*#search-awards .sort {
    font-size: 12px;
    font-size: 1.2rem;
    padding: 5px 15px;
    border-radius: 25px;
    border: none;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    background-color: #54585a;
    margin: 2px 0;
}

#search-awards .sort:focus  {
    background: #54585a;
    box-shadow: inset 1px 1px 3px rgba(0,0,0,.075), 0 0 2px rgba(0,0,0,.2);
    outline: 0;
}*/

#search-awards ul {
    margin: 0;
    padding: 0;
}

#search-awards ul li { 
    margin: 0 1.25rem 5px 1.25rem;
    position: relative;
    width: calc(100% - 3rem); 
}

#search-awards ul li a, 
.name-col li a, 
.discipline-col li a {
    display: block;
    background-color: #f2f2f2;
    padding: 5px 5rem 5px 2.5rem;
    position: relative;
    transition: 0s;
    color: #111;
    height: 100%; 
    
}

#search-awards ul li a:hover, 
#recipient-awards ul li a:hover, 
#other-recipients ul li:not(:first-child) a:hover {
    background-color: #c8102e;
    color: #FFF;
    text-decoration: none;
}

#search-awards ul li a:after,
#recipient-awards ul li a:after, 
a .flex-row.award:after {
    content: "";
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23707070' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 2rem;
    position: absolute;
    right: 2.5rem;
    width: 1rem;
    height: 2rem;
}

#search-awards ul li a:hover:after, 
#recipient-awards ul li a:hover:after, 
a .flex-row.award:hover:after {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z' clip-rule='evenodd'/></svg>");
}

.has-recipient:hover:before {
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23fff' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z' clip-rule='evenodd'/></svg>");
}

.has-recipient:before, .indicator:before {
    content: "";
    background-image: url("data:image/svg+xml,<svg viewBox='0 0 16 16' fill='%23707070' xmlns='http://www.w3.org/2000/svg'><path fill-rule='evenodd' d='M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z' clip-rule='evenodd'/></svg>");
    background-repeat: no-repeat;
    background-size: 1rem 2rem;
    position: absolute;
    margin-left: calc(-1.25rem - 8px);
    width: 1rem;
    height: 2rem;
}

/* THESE COLUMNS ARE HIDDEN DUE TO INCOMPLETE AND INVALIDATED DATA */
.discipline-col,
.date-col, 
span.discipline { display: none; }

a .flex-row.award:hover {
    background-color: #C8102E;
    color: #fff;
}

.name-col { flex: 40%; }
    
.discipline-col { flex: 60%; }

.date-col { position: relative; }

.name-col li, 
.discipline-col li {
    margin: 0 0 5px 0;
    position: relative;
}


/***** AWARDS STYLING -- USED ON /academies-awards/ and /academies-awards/award/ *****/
#award-info { padding-top: 0; }

#award-info .col-auto {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
}

#award-info dl  { margin-bottom: 0; }

#award-info dt {
    padding-left: 2.5rem;
    font-size: 28px;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: bold;
    margin: 1.125rem 0;
}

#award-info dd {
    background-color: #f2f2f2;
    padding: 5px 2.5rem;
    color: #111;
}

#award-info dd p { margin: 0; }

#award-info ul {
    padding:0;
    margin: 0 0 5px 0;
} 

#award-info a { text-decoration:underline; }
  
/*#nam-awards .list li a {
    display:flex;
}  
  
#nam-body {
    padding-top: 0;
}

#nam-body .col-auto {
    display: flex;
    flex-wrap: wrap;
}

#nam-body ul li {
    margin: 0px 1.5rem 5px 1.5rem;
    position: relative;
    width: calc(100% - 3rem);
}*/
  
      
/***** RECIPIENTS STYLING -- USED ON /academies-awards/ and /academies-awards/recipient/ *****/
#recipient { padding-top: 0; }

#recipient-container { padding-top: 0; }

#recipient ul {
    margin: 0px 0.5rem 5px 0.5rem;
    width: calc(100% - 1rem);
}

#recipient-info { padding-bottom: 0; }

#recipient-info h1 { text-transform: uppercase; }

.recipient-header {
    display: block;
    background-color: #f2f2f2;
    padding: 5px 5rem 5px 2.5rem;
    position: relative;
    color: #111;
    height: 100%;
    font-weight:bold;
}

#recipient-list li a { display: flex; }

#recipient-list li:first-child { display: none; }

#recipient-list .name {
    width: 300px;
    flex: 1;
}
  
#recipient-list .discipline { flex: 1; } 

#recipient-awards {
    padding-top: 0;
    border-bottom:1px solid #e9e9e9;
}

#recipient-awards ul {
    margin: 0 -1.25rem 0 -1.25rem;
    padding: 0;
}
    
#recipient-awards ul li {
    width: calc(100% - 3rem);
    margin: 0 1.5rem 5px 1.5rem;
    position: relative;
}
    
#recipient-awards ul li a {
    display: block;
    background-color: #f2f2f2;
    padding: 1rem 5rem 1rem 2.5rem;
    position: relative;
    transition: 0s;
    color: #111;
}


/** FOR DEVICES >= 768px -- MEDIUM AND UP **/
@media (min-width: 768px) {
	#search-awards input, 
	#other-recipients input { 
		margin-left: 0;
		width: calc(50% - 1.25rem);
	}
	
    #search-awards .indicator {
        top: 1.125rem;
        right: 2.5rem;
        text-align: right;
        position: relative;
        float: right;
    }

    #search-awards ul { margin: 0 -1.25rem 3rem -1.25rem; }

    #search-awards ul li { width: calc(50% - 2.5rem); }
	
	.second-list .title { display: block; }
	
	#recipient-list li:first-child { display: block; }
	
	#other-recipients .flex-container:last-of-type ul:first-child { display: block; }
}

/** SPECIFIC HANDLING FOR TABS **/
@media (min-width: 546px) {
	#awardTabs li:first-child { order: 1; }
	
	#awardTabs li:last-child { order: 2; }
}