/* ========= Add site-specific styles here ========= */
div.footer-logo img { height: 123px !important;}

.border-success { border-color: #189C7A !important; }
.bg-success {
    color: #ffffff;
    background-color: #00b388 !important;
    border-color: #189C7A !important;
    text-shadow: 1px 1px 1px rgba(0, 89, 80, .75) !important;
}

.bs3-blockquote {
  	padding: 10px 20px;
  	margin: 0 0 20px;
  	font-size: 1.25rem;
  	border-left: 5px solid rgba(0,0,0,.2);
  	font-style: italic;
}

.bs3-blockquote footer {
  	display: block;
  	font-size: 0.875rem;
  	margin-top: 10px;
}