/* Hero Bg*/
 #student-hero-bg {
         display: flex;
    align-items: center;
	 background-image: linear-gradient(to right, rgb(0, 0, 0, 0.7) 45%, rgb(255 255 255 / 0%) 65%), url(https://www.uh.edu/provost/students/_img/hero-bg.jpg);
}
 .student-hero-text p {
	 max-width: 610px;
}
 .student-hero-text ul {
	 list-style: none;
	 display: flex;
	 flex-wrap: wrap;
	 padding-left: 0;
	 margin: 0;
	 column-gap: 20px 
}
 .student-hero-text ul li a {
	 padding: 9px 20px;
	 border: 1px solid #960C22;
	 background-color: #C8102E;
	 border-radius: 50px;
	 color: #FFFFFF;
	 display: flex;
	 margin-top: 1rem;
	 text-decoration: none !important;
}
 .student-hero-text ul li a:hover {
	 background-color: #960C22;
}
 @media (min-width: 768px) {
	 #student-hero-bg {
		 height: 700px;
	}
	 .student-hero-text {
		 color: #FFFFFF;
	}
}
 @media (max-width: 767px) {
	 #student-hero-bg {
		 background: none;
	}
	 #student-hero-bg, #student-hero-bg .container {
		 padding: 0;
	}
	 .visible-xs img {
		 width: 100%;
	}
	 .student-hero-text {
		 padding: 0 1.5rem;
	}
}
/* student Policies */
 #student-policies h2 {
	 display: flex;
}
 #student-policies p {
	 max-width: 740px;
	 margin: 20px auto;
}
 #student-policies-ul {
	 list-style: none;
	 padding: 0;
	 margin: 40px auto 0 auto;
	 display: flex;
	 flex-direction: column;
	 row-gap: 20px;
	 font-size: 18px;
}
 #student-policies-ul li {
	 background-color: #f5f5f5;
	 padding: 20px;
	 border-radius: 50px;
	 position: relative;
}
 #student-policies-ul li::after {
	 background-image: url(https://www.uh.edu/provost/students/_img/arrow-right-icon.png);
	 background-repeat: no-repeat;
	 background-size: contain;
	 content: "";
	 cursor: pointer;
	 display: inline-block;
	 height: 15px;
	 position: absolute;
	 right: 20px;
	 top: 50%;
	 transform: translateY(-50%);
	 width: 15px;
}
 #student-policies-ul li::before {
	 background-image: url(https://www.uh.edu/provost/students/_img/doc-icon.png);
	 background-repeat: no-repeat;
	 background-size: contain;
	 content: "";
	 cursor: pointer;
	 display: inline-block;
	 height: 27px;
	 position: absolute;
	 top: 50%;
	 transform: translateY(-50%);
	 width: 25px;
}
 #student-policies-ul li a {
	 padding-left: 40px;
	 padding-right: 20px;
	 display: block;
	 color: #000000;
}
 @media (min-width: 1200px) {
	 #student-policies-ul {
		 justify-content: unset !important;
	}
}

@media(min-width: 992px) {
    	 #student-policies-ul li a{
		 min-height: 64px;
		 margin-top: -20px;
		 padding-top: 18px;
		 width: 100%;
	}
	
	.lg-li {
	    padding-top: 10px !important;
}
}
 @media (min-width: 768px) {
	 #student-policies-ul {
		 list-style: none;
		 padding: 0;
		 max-width: 1000px;
		 display: flex;
		 justify-content: center;
		 flex-direction: row;
		 row-gap: 10px;
		 column-gap: 40px;
		 flex-wrap: wrap;
	}
	 #student-policies-ul li {
		 background-color: #f5f5f5;
		 max-width: 480px;
		 width: 100%;
		 height: 64px;
		 padding: 20px;
		 border-radius: 50px;
	}
	 .lg-li {
		 margin-top: -10px;
		 line-height: 24px;
	}
	 #student-policies h2, #student-resources h2 {
		 justify-content: center;
		 margin-left: auto;
		 margin-right: auto;
	}
	 #student-policies p, #student-resources p {
		 text-align: center;
	}
}
/* Search */
 .search-container {
	 display: flex;
	 justify-content: center;
}
 .search-container #policy-search {
	 width: 100%;
	 padding-right: 20px;
}
 #policy-search .input-group {
	 background-color: #f5f5f5;
	 border: 1px solid #e9e9e9;
	 border-radius: 27px;
	/* height: 45px;
	 */
	 padding: 0 30px;
	 display: flex;
	 align-items: center;
}
 #policy-search input {
	 border: none;
	 box-shadow: none;
	 font-size: 18px;
	 background: transparent;
	 outline: none;
	 color: #000;
	 height: 100%;
	 padding-left: 0;
}
 #policy-search .input-group-addon {
	 padding: 0;
	 font-size: 14px;
	 width: 14px;
	 font-weight: inherit;
	 line-height: 1;
	 color: inherit;
	 text-align: inherit;
	 background: none;
	 border: none;
	 border-radius: 0;
}
 #policy-search .input-group-addon .search-icon {
	 background-color: #C8102E;
	 height: 45px;
	 width: 67px;
	 border-radius: 0 50px 50px 0;
	 position: relative;
}

 #policy-search .input-group-addon .search-icon:hover {
	 cursor: pointer;
}
 #policy-search .input-group-addon img {
	 position: absolute;
	 top: 30%;
	 left: 35%;
}
 @media (min-width: 768px) {
	 .search-container #policy-search {
		 width: 480px;
	}
}
/* Student Resources */
 #student-resources h2 {
	 display: flex;
}
 #student-resources p {
	 max-width: 740px;
	 margin: 20px auto;
}
 #student-policies-ul li.form-icon::after, #student-policies-ul li.calendar-icon::after, #student-policies-ul li.book-icon::after, #student-policies-ul li.curriculum-icon::after {
	 background-image: url(https://www.uh.edu/provost/students/_img/external-link-icon.png);
}
 #student-policies-ul li.form-icon::before {
	 background-image: url(https://www.uh.edu/provost/students/_img/form-icon.png);
}
 #student-policies-ul li.research-icon::before {
	 background-image: url(https://www.uh.edu/provost/students/_img/research-icon.png);
}
 #student-policies-ul li.calendar-icon::before {
	 background-image: url(https://www.uh.edu/provost/students/_img/calendar-icon.png);
}
 #student-policies-ul li.book-icon::before {
	 background-image: url(https://www.uh.edu/provost/students/_img/book-icon.png);
}
 #student-policies-ul li.service-icon::before {
	 background-image: url(https://www.uh.edu/provost/students/_img/services-icon.png);
	 width: 27px;
}
 #student-policies-ul li.curriculum-icon::before {
	 background-image: url(https://www.uh.edu/provost/students/_img/curriculum-icon.png);
	 top: 55%;
	 width: 25px;
}
 #student-policies-ul li.dollar-sign-icon::before {
	 background-image: url(https://www.uh.edu/provost/students/_img/dollar-sign-icon.png);
}
 @media (min-width: 768px) {
	 #student-policies-ul li.research-icon::before, #student-policies-ul li.calendar-icon::before, #student-policies-ul li.book-icon::before, #student-policies-ul li.service-icon::before {
		 top: 55%;
	}
	 #student-policies-ul li.curriculum-icon::before {
		 top: 57%;
	}
}
/* Student Success Programs */
 #student-success-programs {
	 overflow: visible;
}
 #student-success-programs h2 {
	 display: flex;
}
 #student-success-programs .student-col-container h3 {
	 font-family: Source Sans Pro;
	 font-weight: 700;
	 font-size: 30px;
}
 #advising-dropdown button {
	 width: 100%;
	 min-width: 250px;
	 min-height: 64px;
	 border-radius: 100px;
	 height: 54px;
	 background-color: #C8102E;
	 border: 1px solid #960C22;
	 font-size: 18px;
	 color: #FFFFFF;
	 padding: 0 30px 0 0px;
}
 #advising-dropdown button:hover{
	 background-color: #960C22 
}
 #advising-dropdown .dropdown-menu {
	 margin: 0;
	 width: 100%;
	 min-width: 250px;
	 font-size: 18px;
	 border: 1px solid #e9e9e9;
	 border-top: none;
	 border-radius: 0 0 27px 27px;
	 padding-bottom: 30px;
	 padding-top: 15px;
	 -webkit-box-shadow: 0 12px 12px rgba(0, 0, 0, .05);
	 box-shadow: 0 12px 12px rgba(0, 0, 0, .05);
}
 #advising-dropdown .dropdown.open button {
	 border-radius: 27px 27px 0 0;
}
 #advising-dropdown .dropdown-menu li a {
	 padding: 4px 30px;
	 position: relative;
}
 #advising-dropdown .caret {
	 position: relative;
	 left: 20px;
	 -webkit-align-self: center;
	 display: inline-block;
	 border-top: 10px dashed;
	 border-top: 8px solid \9;
	 border-right: 8px solid transparent;
	 border-left: 8px solid transparent;
}
 #advising-dropdown {
	 width: 100%;
	 margin-bottom: 40px;
}
 .scrollable-menu {
	 height: auto;
	 max-height: 200px;
	 overflow-x: hidden;
	 -webkit-overflow-scrolling: touch;
	 transform: translateZ(0);
	 will-change: transform;
	 backface-visibility: hidden;
}
 @media (min-width: 768px) {
	 #student-success-programs h2 {
		 justify-content: center;
		 margin-left: auto;
		 margin-right: auto;
	}
	 #student-success-programs .intro {
		 margin: 30px auto;
		 text-align: center;
		 max-width: 740px;
	}
	 #student-success-programs .student-col-container {
		 margin: 40px auto 80px auto;
	}
	 #advising-dropdown {
		 display: flex;
		 justify-content: center;
	}
	 #advising-dropdown button {
		 width: 350px;
	}
}
 @media (max-width: 768px) {
	 .second-section-h2 {
		 margin-top: 40px !important;
	}
	 #advising-dropdown {
		 padding-left: 0;
	}
}
/* Video */
 .embed-container {
	 position: relative;
	 padding-bottom: 56.25%;
	 height: 0;
	 overflow: hidden;
	 max-width: 100%;
	 margin-top: 20px;
}
 .embed-container iframe, .embed-container object, .embed-container embed {
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
}
 .section-links {
	 margin-top: 0;
}
 