
#nursing-accreditation {
    margin-top: 30px;
    background-color: #f5f5f5;
    border-top: 1px solid #e9e9e9;
}

#nursing-accreditation .section-heading {
    display: block;
    text-align: center;
    }
    
#nursing-accreditation .accreditation-section-text {
    max-width: 740px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    }
    
#nursing-accreditation .img-container {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    max-width: 850px;
    margin: 30px auto;
    }

#nursing-accreditation .img-container img {
    max-width: 100%; 
    height: auto; 
    }

    
    @media (max-width: 768px){
        
        #nursing-accreditation .img-container {
            flex-direction: column;
            align-items: center;
            max-width: 200px;
            gap: 20px;
            margin-top: -20px;
            }
        
        #nursing-accreditation .img-container .col-md-6:nth-child(3) {
            order: 1; /* CCNE */
        }

        #nursing-accreditation .img-container .col-md-6:nth-child(2) {
            order: 2; /* SSH */
        }

        #nursing-accreditation .img-container .col-md-6:nth-child(1) {
            order: 3; /* TMC */
        }

        #nursing-accreditation .img-container .col-md-6:nth-child(4) {
            order: 4; /* Sigma */
        }
        
        #nursing-accreditation {
            margin-top: 0px;
            margin-bottom: 0px;
        }
        
        #nursing-accreditation .section-heading, .accreditation-section-text {
            text-align: start;
        }
    }
    
}
