#nursing-accreditation {
    display: none;
}

#nursing-top-banner {
    height: 700px;
    position: relative;
}

.btn {
    width: 221px;
    height: 50px;
    border-radius: 50px;
    border: none;
    padding-top: 13px;
}

.btn-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
}

.text-uppercase {
    max-width: 400px;
}

.banner-text {
    max-width: 480px;
}

.nursing-banner-text {
    position: relative;
    top: 100px;
}

#nursing-top-banner .circle {
    width: 215px;
    height: 215px;
    background-color: #FFFFFF;
    border-radius: 50%;
    overflow: hidden;
    position: absolute;
    bottom: -107.5px;
    left: 50%;
    margin-left: -107.5px;
}

.circle .usnwr-badge {
    padding: 20px;
}

#nursing-top-banner {
    overflow: visible;
}

@media (max-width: 768px) {
    .nursing-banner-text {
        margin-top: -40px;
        top: 0;
    }

    #nursing-top-banner .wysiwyg-content .col-auto {
        padding: 0px;
    }

    #nursing-top-banner .nursing-banner-text {
        padding: 0 1.25rem;
    }

    .btn-container {
        display: flex;
        flex-direction: column;
        gap: 0;
        align-items: center;
    }

    #nursing-top-banner {
        background-image: none !important;
        width: 100%;
        height: fit-content;
        margin-bottom: -80px;
    }

    #nursing-top-banner .circle {
        display: none;
    }

    .banner-mobile {
        display: block !important;
        width: 100%;
        margin-bottom: 0px;
        top: -55px;
    }

    .usnwr-badge-mobile {
        position: absolute;
        height: 160px;
        border-radius: 50%;
        left: 50%;
        bottom: -80px;
        margin-left: -75px;
    }

    .btn-primary {
        width: 350px;
    }

    .btn-1 {
        margin-bottom: -20px;
    }

    .nursing-banner-text {
        display: flex;
        text-align: start;
        flex-direction: column;
    }
}

@media (max-width: 360px) {
    .btn-primary {
        width: 270px;
    }
}

#high-quality-education img {
    width: 100%;
    margin-bottom: 15px;
}

#high-quality-education .section-heading {
    display: block;
    text-align: center;
}

.education-section-text {
    max-width: 740px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#high-quality-education {
    /*margin-top: 100px;*/
}

.section-heading {
    margin: 0 !important;
}

@media (max-width:768px) {

    #high-quality-education .section-heading,
    .education-section-text {
        text-align: start;
    }
}

#state-of-the-art .section-heading {
    display: block;
    text-align: center;
    margin: 0 0 15px 0 !important;
}

#state-of-the-art .btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#state-of-the-art .section-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
    text-align: center;
}

@media (max-width: 768px) {
    #state-of-the-art .btn-container {
        display: flex;
        flex-direction: column;
        gap: 0;
    }

    #state-of-the-art .section-heading,
    #state-of-the-art .section-text {
        text-align: start;
    }

    #state-of-the-art {
        margin-top: -80px;
        margin-bottom: -80px;
    }

    .btn-1 {
        margin-bottom: -20px;
    }
}

.icon-container {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.line {
    position: relative;
    top: 15px;
}

.icon {
    width: 53px;
    height: 70px;
}

.number {
    margin-left: 10px;
    margin-right: 10px;
    position: relative;
    top: 15px;
}

.section-text u {
    text-decoration-color: #f6be00;
    text-underline-offset: 3px;
}

#world-report .section-text {
    font-weight: 700;
    line-height: 60px;
    font-size: 40px;
    max-width: 770px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section-text-small {
    font-size: 20px;
    text-align: center;
}

@media (min-width: 768px) {
    #world-report {
        margin-top: 50px;
        margin-bottom: 50px;
    }
}

@media (max-width: 768px) {
    #world-report {
        display: none;
    }
}

#community {
    margin-bottom: 50px;
}

#community img {
    width: 100%;
    margin-bottom: 15px;
}

#community .nursing-col-container {
    display: flex;
    flex-direction: row;
    margin-top: 40px;
}

#community .nursing-col-container div {
    aspect-ratio: 272 / 500;
    display: block;
    position: relative;
    width: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    margin-bottom: 15px;
    background-size: cover;
}


#community .section-heading {
    display: block;
    text-align: center;
}

#community .education-section-text {
    max-width: 740px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#community .btn-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#community .section-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
    text-align: center;
}



@media (max-width: 768px) {

    #community .section-heading,
    #community .section-text {
        text-align: start;
    }
}

#nursing-news img {
    width: 100%;
    margin-bottom: 15px;
}

#nursing-news .nursing-col-container {
    margin-top: 30px;
}

#nursing-news .section-heading {
    display: block;
    text-align: center;
}

.circle-container {
    display: flex;
    justify-content: center;
    position: relative;
    bottom: -90px;
    flex-wrap: wrap;
    row-gap: 30px;
}

.circle {
    width: 80px;
    height: 80px;
    background-color: #C8102E;
    border-radius: 50%;
    margin: 0 15px;
}

#nursing-news {
    overflow: visible;
}

svg {
    fill: #FFFFFF;
}

@media (max-width:768px) {
    .circle-container {
        position: relative;
        top: 40px;
    }

    #nursing-news {
        background-color: #FFFFFF;
    }

    #nursing-news .section-heading {
        text-align: start;
    }

    #nursing-news {
        margin-top: -120px;
    }
}

#accreditation {
    margin-top: 100px;
}

#accreditation .section-heading {
    display: block;
    text-align: center;
}

.accreditation-section-text {
    max-width: 740px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#accreditation .img-container {
    align-items: center;
    box-sizing: border-box;
}

#accreditation .img-container img {
    max-width: 100%;
    height: auto;
}


@media (max-width: 768px) {
    #accreditation .img-container {
        flex-direction: column;
        align-items: center;
        margin-top: -60px;
        padding: 15px;
    }

    #accreditation .img-container .col-md-6:nth-child(3) {
        order: 1;
        /* CCNE */
    }

    #accreditation .img-container .col-md-6:nth-child(2) {
        order: 2;
        /* SSH */
    }

    #accreditation .img-container .col-md-6:nth-child(1) {
        order: 3;
        /* TMC */
    }

    #accreditation .img-container .col-md-6:nth-child(4) {
        order: 4;
        /* Sigma */
    }

    #accreditation {
        margin-top: 0px;
        margin-bottom: 0px;
    }

    #accreditation .section-heading,
    .accreditation-section-text {
        text-align: start;
    }
}