.section-text {
    margin-left: auto;
    margin-right: auto;
    max-width: 740px;
    }

 #welcome .image {
	 margin-top: 50px;
	 margin-left: auto;
	 margin-right: auto;
	 display: flex;
	 width: 100%;
	 max-width: 1260px;
	 margin-bottom:-30px;
}
 .banner-container {
	 position: relative;
}
 #overflow-section .container {
	 padding: 0px;
}
 #calendar img {
	 height: 360px;
	 width: 480px;
}
 #latest-news h3 {
	 font-size: 24px;
	 line-height: 1.5;
	 text-decoration: underline;
	 color: #000;
	 font-family: 'Source Sans Pro';
	 font-weight: bold;
}
 .split-content-container {
	 display: flex;
	 flex-direction: column;
}
 .provost-header {
	 display: flex;
	 flex-direction: row;
	 align-items: center;
	 flex-wrap: wrap;
	 margin-left: auto;
	 margin-right: auto;
}
 #calendar {
	 background-color: hsl(0, 0%, 95%);
}
 @media (min-width:992px){
	 .homepage-img-container {
		 margin-bottom: -60px !important;
	}
	 .split-content-container {
		 padding:65px;
		 flex-direction:row;
		 justify-content: space-between;
		 row-gap:0;
		 column-gap:40px;
	}
	 .media-column {
		 order: 2;
		 flex: 1;
		 margin-left: auto;
		 max-width:480px;
		 width:50%;
	}
	 .content-column {
		 order: 1;
		 flex: 1;
		 max-width:610px;
		 width:50%;
	}
	 #latest-news-header, #latest-events-header {
		 display: flex;
		 flex-direction: row;
		 margin-bottom: 0px;
	}
}


 @media (min-width:1200px){
	 .split-content-container {
		 padding:65px 130px;
	}
}
 @media only screen and (max-width: 766px) {

	 #academic-excellence, #student-success {
		 background-color: #f5f5f5;
		 margin-top: 40px;
		 margin-bottom: 40px;
	}
	 .provost-header {
		 display: flex;
		 flex-direction: column;
		 align-items: flex-start;
	}
	 #latest-news-header .section-links {
		 margin-top: 0;
		 margin-bottom: 30px;
	}
	 .media-column img {
		 margin-top: 20px;
	}
	 .banner-container {
		 display: flex;
		 flex-direction: column;
	}
	 .section-1-heading {
		 order: 2;
		 text-align: start;
		 margin-left: 20px;
	}
	 #overflow-section .image {
		 max-width:100%;
		 margin-top: 0px;
	}
	 .theme-light-gray {
		 background-color: white;
	}
	 .section-text p {
		 margin-right: 10px;
	}

	 #latest-news-header, #latest-events-header {
		 display: flex;
		 flex-direction: column;
	}
	 #latest-events-header .section-heading {
		 margin-bottom: -20px;
	}
	 #latest-news-header {
		 margin-bottom: -40px;
	}
}
 @media only screen and (min-width: 281px) and (max-width: 475px) {
	 #overflow-section .section-1-heading {
		 margin-left: 20px;
		 text-align: start;
		 max-width: 295px;
	}
}
 