/* ========= AF Home CSS ========= */
#menu-section {
    padding: 0px;
}

#infographic div[class^="col-"]{
    display: table-cell;
    padding: 30px 0;
}
#infographic div[class^="hero-"]{
    margin: 0 auto;
    max-width: 240px;
    font-family: "league gothic";
    font-size: 30px;
    line-height: 30px;
}
#infographic .hero-top{
    text-align: center;
}
#infographic .hero-top span{
    text-align: center;
    display: block;
    margin: 0 auto;
    font-size: 65px;
    line-height: 75px;
    font-weight: bold;
}
#infographic .hero-left span{
    float: left;
    padding-top: 17px;
    padding-right: 15px;
    font-size: 75px;
    font-weight: bold;
}

#menu-cta{
    padding: 0;
}
#menu-cta img{
    width: 80px;
    margin-right: 10px;
}
#menu-cta .cta-links li:nth-child(3) img{
    margin-right: 0px;
}
#menu-cta .banner-cta{
    background: transparent;
}
#menu-cta .banner-cta .container{
    padding: 0;
}