@charset "UTF-8";
/* CW */
.accordion-button.collapsed:hover, .accordion-button.collapsed:focus {
  background-color: #f2f2f2;
}

.accordion-item {
  overflow: auto;
}

.accordion-toggles .btn {
  border: none;
  color: #888b8d;
  margin-right: 1em;
  padding: 0;
  transition: border-color none;
}
.accordion-toggles .btn:active {
  border: none;
  box-shadow: none;
  color: #888b8d;
  padding: 0;
}
.accordion-toggles .btn.collapse-all::before {
  content: "- ";
}
.accordion-toggles .btn.expand-all::before {
  content: "+ ";
}
.accordion-toggles u {
  text-decoration: none;
}
.accordion-toggles u:hover, .accordion-toggles u:focus {
  text-decoration: underline;
}

#accordion--no-toggles .accordion-toggles {
  display: none;
}

@media (min-width: 768px) {
  .cover-photo .caption {
    -webkit-backdrop-filter: blur(4px);
            backdrop-filter: blur(4px);
  }
}

#main-content section.py-5 {
  padding-top: 1.5rem !important;
  padding-bottom: 1.5rem !important;
}

.link-icon-lg {
  margin-bottom: -2px;
  margin-right: 4px;
  vertical-align: baseline;
}

#page a[href$=".doc"]:after,
#page a[href$=".docx"]:after,
#page a[href$=".pdf"]:after,
#page a[href$=".ppt"]:after,
#page a[href$=".pptx"]:after,
#page a[href$=".xls"]:after,
#page a[href$=".xlsx"]:after,
#page a.ext-link:after,
.nav-primary .children a[target=_blank]:after,
.nav-secondary nav a[target=_blank]:after {
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  display: inline-block;
  height: 15px;
  margin-left: 4px;
  margin-right: 2px;
  vertical-align: -0.125em;
  width: 15px;
}

#page a[href$=".doc"]:after,
#page a[href$=".docx"]:after {
  background-image: url(https://www.uh.edu/nsm/_images/icons/link-icons/link-icon-sm--doc.svg);
}

#page a[href$=".pdf"]:after {
  background-image: url(https://www.uh.edu/nsm/_images/icons/link-icons/link-icon-sm--pdf.svg);
}

#page a[href$=".ppt"]:after,
#page a[href$=".pptx"]:after {
  background-image: url(https://www.uh.edu/nsm/_images/icons/link-icons/link-icon-sm--ppt.svg);
}

#page a[href$=".xls"]:after,
#page a[href$=".xlsx"]:after {
  background-image: url(https://www.uh.edu/nsm/_images/icons/link-icons/link-icon-sm--xls.svg);
}

#page a.ext-link:after,
.nav-primary .children a[target=_blank]:after,
.nav-secondary nav a[target=_blank]:after {
  background-image: url(https://www.uh.edu/nsm/_images/icons/link-icons/link-icon-sm--ext.svg);
}

#page a.no-icon:after {
  background-image: none;
  height: 0;
  margin-bottom: inherit;
  margin-left: 0;
  margin-right: 0;
  width: 0;
}

.badge {
  font-weight: normal;
  vertical-align: text-bottom;
}

blockquote {
  border-left: 5px solid #eee;
  color: #54585a;
  font-family: inherit;
  font-style: inherit;
  margin: 1em 0;
  padding: 0.5em 1em;
}
blockquote > :first-child {
  margin-top: 0 !important;
}
blockquote > :last-child {
  margin-bottom: 0 !important;
}
blockquote.featured {
  border-bottom: 1px solid #e5e5e5;
  border-left: none;
  border-top: 1px solid #e5e5e5;
  display: table;
  font-family: "Crimson", serif;
  padding-bottom: 1em;
  padding-top: 1em;
  text-align: center;
}
blockquote.featured p {
  color: #c8102e;
  font-size: 1.5em;
  line-height: 1.2em;
  margin-bottom: 0.5em;
}
blockquote.featured .cite {
  color: #888b8d;
  font-size: 1.25em;
  margin-top: 0;
}
blockquote.featured .cite:before {
  content: "–  ";
}

.btn-snippet {
  font-weight: normal;
}

.clear-left {
  clear: left !important;
}

.clear-right {
  clear: right !important;
}

#content-well .related-links {
  margin-top: calc(1em - 2px);
}

.cta-link,
.section-links {
  font-weight: normal;
  margin-top: 0;
}
.cta-link a:after,
.section-links a:after {
  content: " ›";
}
.cta-link a:hover, .cta-link a:focus,
.section-links a:hover,
.section-links a:focus {
  text-decoration: underline !important;
}
.cta-link > li,
.section-links > li {
  margin: 0.25em 1em;
}

.cta-link:after {
  content: " ›";
}

.feature-list dl {
  align-items: flex-start;
  display: flex;
  gap: 0.75em;
  margin-bottom: 0;
}
.feature-list dl + dl {
  margin-top: 0.5em;
}
.feature-list dl dd p,
.feature-list dl dt p {
  margin-bottom: 0;
  margin-top: 0;
}
.feature-list dl dd p {
  margin-top: 0.25em;
}
.feature-list dl dt {
  background-color: #c8102e;
  border-radius: 50%;
  color: #fff;
  padding: 0.5em;
}
.feature-list dl dt p {
  align-items: center;
  display: flex;
  font-size: 1.2em;
  font-weight: normal;
  height: 1em;
  justify-content: center;
  text-align: center;
  width: 1em;
}

.figure {
  border: none;
  box-shadow: none;
  padding: 0 !important;
}

.flex-column > p {
  margin-top: 0;
}

#hero-bg {
  background-color: hsl(0, 0%, 95%);
}

hr {
  margin: 1.25em 0;
}

li > ol, li > ul {
  margin-top: 0;
}

@media (max-width: 480px) {
  .pull-mobile.pull-left {
    float: left !important;
    margin-right: 24px !important;
  }
  .pull-mobile.pull-right {
    float: right !important;
    margin-left: 24px !important;
  }
  .pull-mobile.span1, .pull-mobile.span2 {
    width: 30% !important;
  }
  .pull-mobile.span3, .pull-mobile.span4, .pull-mobile.span5 {
    width: 40% !important;
  }
  .pull-mobile.span6 {
    width: 50% !important;
  }
}

.rows > .row,
.rows-striped > .row {
  padding: 0.5em 0;
}
.rows.striped-even > .row:nth-of-type(even),
.rows-striped.striped-even > .row:nth-of-type(even) {
  background-color: #f2f2f2;
  border-radius: 8px;
}
.rows.striped-odd > .row:nth-of-type(odd),
.rows-striped.striped-odd > .row:nth-of-type(odd) {
  background-color: #f2f2f2;
  border-radius: 8px;
}
.rows .row-head,
.rows-striped .row-head {
  background-color: #fff !important;
  border-bottom: 1px solid #ddd;
  border-radius: 0 !important;
  border-top: none;
  font-weight: bold;
}

section + h2 {
  margin-top: 1rem;
}

#content-well .section-grid-stats {
  justify-content: center;
  margin-bottom: 1em !important;
}
#content-well .section-grid-stats .stats-item {
  display: block;
  text-align: center;
}
#content-well .section-grid-stats .stats-number {
  display: block;
  font: 4rem "League Gothic", sans-serif;
  line-height: 1;
  text-align: center;
  text-transform: uppercase;
}

.section-grid-stats .stats-item {
  font-style: normal;
}

.tab-pane > h2 {
  margin-top: 0.5em !important;
}
.tab-pane > h3 {
  margin-top: 1em !important;
}

#article-header h1 {
  text-transform: none;
}

#category-archive-list {
  padding-top: 1.5rem;
}
@media (min-width: 992px) {
  #category-archive-list .list-archive li {
    display: flex;
  }
}
#category-archive-list .section-heading {
  display: none;
}

#newsroom-article .figure figcaption {
  margin-top: -0.25em;
}

#newsroom-title + .page-section {
  display: none;
}
#newsroom-title h1 {
  font-size: 3rem;
  text-transform: none;
}

.news-listing.list-archive .list-year {
  font-size: 1.25em;
}

#article-content #categories {
  display: none;
}

#article-top-stories {
  display: none;
}

#content-well .section-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style: none;
  margin: 2.25rem -1.25rem -1.125rem;
  padding: 0;
}
#content-well .section-grid h3 {
  font-size: 1.125em;
  line-height: 1.25em;
  margin: 1rem 0 0.5rem;
}
#content-well .section-grid > li {
  margin-bottom: 2.25rem;
}

body#top .section-grid .sp-block a {
  text-decoration: none;
}

#featured-news--light-gray {
  background-color: hsl(0, 0%, 95%);
  padding-bottom: 0;
}

body#top #main-content .nav-breadcrumb {
  display: none;
}

.breadcrumb > li:not(:last-child):after {
  content: "›";
}

.uh-header .nav-primary {
  font-weight: normal;
}
.uh-header .nav-primary a,
.uh-header .nav-primary a:visited {
  color: #fff;
}

#content-well .row ol,
#content-well .row ul {
  margin-top: 0;
}
@media (max-width: 567px) {
  #content-well .row div[class*=col-] ol:last-child,
  #content-well .row div[class*=col-] ul:last-child {
    margin-bottom: 0;
  }
  #content-well .row div[class*=col-]:last-child ul {
    margin-bottom: 1em;
  }
}

.no-margin--bottom {
  margin-bottom: 0 !important;
}

.no-margin--top {
  margin-top: 0 !important;
}

.col-12 .span1 {
  width: 8.33%;
}
.col-12 .span2 {
  width: 16.67%;
}
.col-12 .span3 {
  width: 25%;
}
.col-12 .span4 {
  width: 33.33%;
}
.col-12 .span5 {
  width: 41.67%;
}
.col-12 .span6 {
  width: 50%;
}
.col-12 .span7 {
  width: 58.33%;
}
.col-12 .span8 {
  width: 66.67%;
}
.col-12 .span9 {
  width: 75%;
}
.col-12 .span10 {
  width: 83.33%;
}
.col-12 .span11 {
  width: 91.67%;
}
.col-12 .span12 {
  width: 100%;
}

.text-center .text-left {
  text-align: left !important;
}
.text-center .text-right {
  text-align: right !important;
}

.text-left {
  text-align: left !important;
}

.text-right {
  text-align: right !important;
}/*# sourceMappingURL=custom.css.map */