#statistics{
	color: white;
}
#statistics a{
    color: white;
}
#hisd, #community, #mentor, #volunteer, #statistics, #news{
    transition: font-style .75s ease;
}
#hisd a:hover, #community a:hover, #mentor a:hover, #volunteer a:hover, 
#statistics a:hover, #news a:hover{
    /*font-style: italic;*/
}
.story-insert{
    color: red;
    font-family: 'Milo', sans-serif;
    font-size: 1.5em;
    text-align: center;
    margin: 0;
    padding: 0;
}