#social .crt-widget .crt-post {
	 background-color: #292929;
	 border: 1px solid rgba(0,0,0,.3);
}
 #social .crt-social-icon svg {
	 color: rgb(255 255 255 / 25%);
	 width: 16px;
}
 .crt-widget .crt-post-fullname a {
	 color:inherit;
	 text-decoration: none;
}
 #social .crt-post-footer {
	 background-color: #242424;
}
 #social .crt-post-date a:hover {
	 color:#f6be00;
}
 #social .crt-widget .crt-post-text {
	 color:#bababa;
	 color: rgba(255,255,255,.7);
	 padding: 0.75rem 2.25rem 1.125rem 2.25rem;
	 font-size: 16px;
	 line-height: 1.3em;
	 text-align: left;
}
 #social .crt-post .crt-post-header {
	 padding: 0;
	 margin: 0;
	 color: #2b2b2b;
	 position: inherit;
	 text-align: inherit;
}
 #social .crt-post .crt-post-header .crt-social-icon {
	 padding-top: 16px;
	 transition: .2s;
	 margin: 0;
	 display: inline-block;
	 line-height: 1;
	 position: absolute;
	 left: 2.25rem;
	 pointer-events: none;
}
 #social .crt-post .crt-post-fullname {
	 color: rgb(255 255 255 / 25%);
	 padding-left: 3.75rem;
	 padding-right: 2.25rem;
	 font-size: 14px;
	 position: relative;
	 top: 10px;
}
 #social .crt-post-title {
	 margin: 0px;
	 color: rgba(255,255,255,.7);
	 line-height: 1.2em;
	 font-weight: normal;
	 text-align: left;
	 padding: 0.75rem 2.25rem 1.125rem 2.25rem;
	 padding-bottom: 0;
}
 #social .crt-image-carousel {
	 opacity: 30%;
	 right: 2.25rem;
	 left: auto;
}
 #social .crt-post-footer {
	/*display:none;
	*/
}
 #social .crt-post-footer .crt-post-userimage {
	 display:none;
}
 #social .crt-post-username {
	 display: none;
}
 #social .crt-widget .crt-post-date a {
	 color: #999;
}
 #social .crt-widget .crt-post-footer .crt-post-share a {
	 color: #999;
}
 #social .crt-widget .crt-post-footer .crt-post-share a:focus {
	 opacity: 1;
}
 #social #curator-feed-default-feed-layout :focus {
	 outline-width:0;
	 outline-color: rgba(204, 204, 204, 0.8);
}
 #social .crt-post-footer {
	 text-align:left;
}
 #social .crt-post-date {
	 margin-left: 2.25rem;
}

 #social .crt-post-share {
	 right: 2.25rem;
     padding-top: 3px;
}

#social .crt-widget .crt-post-footer .crt-post-share a:hover {
     color:#f6be00 !important;
}


}
 #social .crt-widget .crt-post-text a {
	 color:#FFFFFF;
	 transition:0s;
}
 #social .crt-widget .crt-post-text a:hover, .crt-widget .crt-post-text a:focus {
	 color: #f6be00;
	 text-decoration:underline;
}
 #social .crt-widget-waterfall .crt-post {
	 margin: 2.25rem 1.125rem;
}
 #social .crt-widget .crt-post {
	 font-size: 18px;
	 background-color: rgba(255,255,255,.02);
	 border: 1px solid rgba(0,0,0,.3);
	 border-radius: 8px;
	 overflow: hidden;
	 position: relative;
	 z-index: 1;
}
 #social .crt-post .crt-post-border {
	 border: none;
	 border-radius: 0px;
}
 #social .crt-feed-spacer {
	 display: none;
}
 #social .crt-widget.crt-widget-branded .crt-logo {
	 display: block;
	 position: absolute;
	 bottom: 0;
	 right: 1.125rem;
	 font-size: .8em;
	 z-index: 999;
	 color: rgba(255,255,255,.9);
	 text-decoration: none;
}
 #social {
	 background-color:#1f1f1f;
	 position:relative;
}
 #social #icons {
	 display:inline-block;
	 margin-top:5px;
}
 #social #icons a {
	 display: inline-block;
}
 #social #icons .fa, #social #icons .fab {
	 color:#888;
	 font-size: 30px;
	 padding:0 10px;
	 transition:.2s;
}
 #social #icons .fa:hover, #social #icons .fab:hover {
	 color:#F6BE00 
}
