
#page-header h1::before {
    background: #c8102e;
    content: '';
    display: block;
    height: 100%;
    width: 1920px;
    position: absolute;
    top: 0;
    right: 0;
    z-index: -1;
}

#page-header h1 {
	    background: #c8102e;
    color: white;
    display: inline-block;
    letter-spacing: 0;
    margin: 0;
    padding: .625rem 1.25rem .625rem 0;
    position: relative;
    z-index: 1;
    text-transform: uppercase;
}