 
/* Undergraduate Admissions Hero Banner */
 #undergrad-admissions-hero-bg {
	 background-color: #F5F5F5 !important;
	 background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 6.72%, rgba(0, 0, 0, 0) 72.6%), url(https://uh.edu/undergraduate-admissions/apply/_images/ecullen_fountains.jpg);
	 background-size: cover;
	 background-position: center;
	 position: relative;
}
 .request-info-form-tablet {
	 display: none;
}
 @media (min-width: 1200px) {
	 .undergrad-admissions-hero-text {
		 width: 70%;
	}
	 .request-info-form-container {
		/* width: 50%;
		 */
		 width: 550px !important;
		 left: unset !important;
		 right: 18%;
	}
	 .undergrad-admissions-hero-text p {
		 width: 60%;
	}
}
 @media (min-width: 992px) and (max-width: 1200px) {
	 .undergrad-admissions-hero-text {
		 width: 45%;
	}
	 .request-info-form-container {
		 width: 550px !important;
		 left: unset !important;
		 right: 176px;
	}
}
 @media (min-width: 768px) and (max-width: 992px) {
	 .request-info-form-container {
		 width: 400px !important;
		 left: unset !important;
		 right: 150px;
	}
	 .request-info-form-container {
		 left: unset !important;
		 right: 133px;
	}
	 .request-info-form-container {
		 display: none !important;
	}
	 .request-info-form-tablet {
		 background-color: #fff;
		 border-radius: 8px;
		 height: 400px;
		 display: block;
	}
}
 @media (min-width: 768px) {
	 #undergrad-admissions-hero-bg {
		 height: 700px;
	}
	 .undergrad-admissions-hero-text {
		 padding: 130px 40px 40px 0px;
	}
	 .undergrad-admissions-hero-text h1 {
		 color: #FFFFFF;
	}
	 .undergrad-admissions-hero-text p {
		 color: #FFFFFF;
		 max-width: 610px;
	}
	 .request-from-btn {
		 border-radius: 50px;
		 width: 171px;
		 font-size: 18px;
		 padding: 2px;
	}
	 .request-info-form ul li {
		 width: 350px;
	}
	 .request-info-form-container {
		 position: absolute;
		 top: 50%;
		 left: 50%;
		 transform: translate(27.5%, -50%);
		 width: 100%;
		 max-width: 610px;
		 height: 100%;
		 max-height: 527px;
		 padding: 20px;
		 box-sizing: border-box;
	}
}
 @media (max-width: 767px) {
	 #undergrad-admissions-hero-bg {
		 background: none;
	}
	 #undergrad-admissions-hero-bg, #undergrad-admissions-hero-bg .container {
		 padding: 0;
	}
	 .visible-xs img {
		 width: 100%;
	}
	 .undergrad-admissions-hero-text {
		 padding: 0 1.25rem;
	}
}
 .request-info-form {
    background-color: #FFFFFF;
    border-radius: 8px;
    border: 1px solid #E9E9E9;
    width: auto;
    padding: 40px;
}



/* Apply for Admission */
 .content-column-items {
	 width: 100%;
}
 .content-column-section-heading {
	 margin-top: 50px;
	 text-transform: uppercase;
}

 .content-column-items ul li {
	 background-color: #F5F5F5;
	 display: flex;
	 flex-direction: row;
	 font-size: 18px;
	 justify-content: space-between;
	 padding: 2.5px 0 2.5px 20px;
	 width: 100%;
}
 .content-column-items ul li:hover {
	 background-color: #E9E9E9;
}
 .more-information-icon a:hover svg rect {
	 fill: #D89B00;
}
 .more-information-icon {
	 bottom: -25px;
	 position: absolute;
	 right: 20px;
	 top: auto;
}
 .content-column-items ul {
	 display: flex;
	 flex-direction: row;
	 flex-wrap: wrap;
	 list-style: none;
	 row-gap: 2px;
	 padding: 0;
}
 .content-column {
	 background-color: #FFFFFF;
	 border: 1px solid #E9E9E9;
	 display: flex;
	 flex-direction: column;
	 flex: 1;
	 position: relative;
	 padding: 0 40px;
}
 .more-information-icon {
	 bottom: -25px;
	 position: absolute;
	 right: 20px;
	 top: auto;
}
 .split-content-card {
	 display: flex;
	 flex-direction: column-reverse;
	 height: auto;
}
 .media-column {
	 background-position: center;
	 background-repeat: no-repeat;
	 background-size: cover;
	 position: relative;
	 width: 100%;
}
 .media-column {
	 aspect-ratio: 430 / 250;
}
 .internal-link::after {
	 background-image: url('https://uh.edu/undergraduate-admissions/academics/_images/vector.png');
	 background-repeat: no-repeat;
	 background-size: contain;
	 content: "";
	 display: inline-block;
	 height: 15px;
	 position: absolute;
	 right: 20px;
	 top: 50%;
	 transform: translateY(-50%);
	 width: 15px;
}
 .internal-link {
	 padding-right: 20px;
	 position: relative;
}
 .content-column-items ul li a:hover {
	 color: #000000;
	 text-decoration: none !important;
}
 .content-column-items ul li a {
	 align-items: center;
	 color: #000000 !important;
	 display: flex;
	 justify-content: space-between;
	 text-decoration: none;
	 width: 100%;
	 padding-right: 40px;
}
 @media (min-width: 1200px) {
	 .more-information-icon {
		 position: relative;
		 right: 30px;
		 top: 70px;
	}
	 .content-column-items {
		 margin-bottom: 0;
	}
	 .split-content-card {
		 flex-direction: row;
		 flex-wrap: wrap;
	}
	 .content-column-items ul {
		 padding-left: 20px;
		 column-gap: 40px;
	}
	 .content-column-items ul li {
		 width: calc(50% - 20px);
		 cursor: pointer;
	}
	 .media-column {
		 background-image: url('https://uh.edu/undergraduate-admissions/_images/coad-columns-header-desktop.jpg');
		 background-size: cover;
		 border-radius: 0 8px 8px 0;
		 height: auto;
		 position: relative;
		 width: 350px;
	}
	 .content-column {
		 align-items: start;
		 border-radius: 8px 0 0 8px;
		 padding: 20px 90px;
	}
	 #content-column p {
		 width: calc(100% - 5rem);
	}
	 #content-column .content-column-items {
		 margin-bottom: 0px;
	}
	 .grid-column-items ul {
		 margin: 0;
	}
	 .grid-column-items .grid-column-option {
		 padding-left: 40px !important;
	}
}
 @media (min-width: 768px) and (max-width: 1200px) {
	 .media-column {
		 border-radius: 8px 8px 0 0;
		 aspect-ratio: 430 / 250;
	}
	 .content-column {
		 border-radius: 0 0 8px 8px;
	}
	 .content-column-items ul {
		 column-gap: 20px;
		 margin-left: 0;
	}
	 .content-column-items {
		 margin-bottom: auto;
	}
}
 .section-title-list {
	 margin-left: -20px;
}
 .section-ttitle-item {
	 background-color: #E9E9E9;
	 height: 35px;
	 padding: 2.5px 0 2.5px 20px;
	 box-sizing: border-box;
}
 .section-options-list li {
	 background-color: #F5F5F5;
	 height: auto;
	 padding: 2.5px 0 2.5px 43px;
	 box-sizing: border-box;
	 margin-left: -40px;
	 margin-right: -20px;
	 justify-content: space-between;
}
 .section-options-list {
	 row-gap: 2px;
	 display: flex;
	 flex-direction: column;
}
 .arrow-link {
	 position: relative;
}
 .arrow-link a {
	 padding-right: 40px;
}
 .grid-column-items ul li {
	 width: 100% !important;
}
 .arrow-link::after {
	 background-image: url('https://www.uh.edu/undergraduate-admissions/apply/_images/arrow-right-solid.png');
	 background-repeat: no-repeat;
	 background-size: contain;
	 content: "";
	 display: inline-block;
	 height: 15px;
	 position: absolute;
	 right: 20px;
	 top: 50%;
	 transform: translateY(-50%);
	 width: 15px;
}
 .grid-column-items .grid-column-option-list {
	 background-color: #E9E9E9;
}
 .grid-section .content-column-section-heading, .grid-section-second-row .content-column-section-heading {
	 margin-bottom: 25px;
}
 .grid-column-items {
	 margin-top: 10px;
}
 .grid-card-second-row {
	 height: auto;
	 margin-bottom: 20px;
}
 .grid-section-second-row, .grid-section {
	 padding-bottom: 3.5rem;
}
 .row.d-flex {
	 display: flex;
	 flex-wrap: wrap;
	 row-gap: 20px;
}
 .side-text {
	 color: #E31937;
}
 #application-status-column {
	 margin-top: 20px;
}
 #application-status-column .content-column-items {
	 margin-left: auto;
	 margin-right: auto;
}
 @media (min-width: 1200px) {
	 .grid-section-second-row {
		 padding-bottom: 0px;
	}
	 .arrow-link a {
		 max-width: fit-content !important;
	}
	 .grid-section-second-row .content-column-section-heading {
		 width: 100%;
	}
	 .row.d-flex {
		 row-gap: 40px;
	}
	 #apply-for-admission #content-column h2 {
		 width: calc(100% - 4.5rem);
		 margin-left: auto !important;
	}
	 #apply-for-admission .split-content-apply-section .content-column {
		 padding: 20px 90px 20px 120px !important;
	}
	 #apply-for-admission .split-content-apply-section .content-column ul{
		 padding-left: 0;
		 margin-left: -20px;
	}
}
 @media (min-width: 992px) {
	 .split-content-apply-section, #application-status-column {
		 margin-top: 40px;
	}
}
 @media (min-width: 768px) {
	 .grid-section {
		 width: auto;
		 padding-bottom: 7rem;
		 border-radius: 8px;
	}
	 .grid-section-second-row {
		 padding-bottom: 4rem;
		 border-radius: 8px;
	}
	 .arrow-link a {
		 width: 100% !important;
		 max-width: 100%;
	}
	 .row.d-flex .col-md-6 {
		 display: flex;
		 flex-direction: column;
	}
	 .content-column.grid-section {
		 flex: 1;
	}
	 #apply-for-admission .section-heading {
		 display: flex;
		 justify-content: center;
	}
	 .apply-for-admission-p {
		 width: 737px;
		 margin: 0 auto 40px auto;
		 text-align: center;
	}
	 #application-status-column .content-column {
		 border-radius: 8px;
		 text-align: center;
	}
	 #application-status-column .content-column-section-heading {
		 margin-left: auto;
		 margin-right: auto;
	}
	 #application-status-column .admission-red-btn {
		 margin-top: 30px;
	}
}
 #apply-for-admission .split-content-apply-section {
	 max-width: 1520px;
	 margin-left: auto;
	 margin-right: auto;
}
 #apply-for-admission .split-content-apply-section h2 {
	 margin-bottom: 25px;
}
 #apply-for-admission #content-column h2 {
	 margin-bottom: 25px;
	 margin-right: auto;
	 margin-left: 0;
	 text-align: start;
}
 #apply-for-admission .split-content-apply-section p, #apply-for-admission #content-column p {
	 margin-left: auto;
	 margin-right: auto;
}

	 #apply-for-admission .split-content-apply-section .content-column {
		     padding-bottom: 3.5rem;
	}
/* Undergraduate Admissions Leadership */
 .undergrad-leadership-container {
	 background-color: #F5F5F5;
	 height: 100%;
	 margin: 80px 0;
}
 .circle {
	 width: 150px;
	 height: 150px;
	 border-radius: 50%;
	 background-color: wheat;
	 border: 3px solid #FFFFFF;
}
 .circle-container {
	 display: flex;
	 flex-wrap: wrap;
	 gap: 10px;
	 justify-content: center;
	 padding: 20px 5px;
}
 .undergrad-leadership-content {
	 padding: 40px 0;
}
 #application-status-column h2 {
	 margin-right: auto;
	 margin-left: auto;
	 display: flex;
	 justify-content: center;
}
 @media (min-width: 1200px) {
	 #undergraduate-admissions-leadership .text-content {
		 padding: 80px !important;
	}
	 #undergraduate-admissions-leadership .text-content ul {
		 margin-left: -20px;
		 list-style: none;
	}
	 .scholarship-universe-grid p {
		 max-width: 480px;
	}
	 #undergraduate-admissions-leadership .split-content-container-campus, #undergraduate-admissions-leadership .row.d-flex {
		 margin-top: 40px !important;
	}
}
 @media (min-width: 768px) {
	 .circle-container {
		 display: flex;
		 flex-wrap: wrap;
		 gap: 40px;
		 justify-content: center;
		 margin: 40px 0 60px 0;
	}
	 .circle-container {
		 padding: 40px 5px;
	}
	 .undergrad-leadership-content p {
		 text-align: center;
		 margin-left: auto;
		 margin-right: auto;
		 max-width: 740px;
	}
	 .undergrad-leadership-content h2 {
		 display: flex !important;
		 justify-content: center;
	}
	 #application-status-column .content-column {
		 border-radius: 8px;
		 text-align: center;
		 padding: 20px 90px;
	}
	 #application-status-column .admission-red-btn {
		 margin-top: 30px;
		 width: 350px;
	}
	 .split-content-container-campus {
		 display: flex;
		 flex-direction: row;
		 height: auto;
		 margin-top: 80px;
		 border-radius: 8px;
	}
	 #undergraduate-admissions-leadership .text-content p {
		 max-width: 480px;
	}
	 #undergraduate-admissions-leadership .split-content-container-campus {
		 display: flex;
		 flex-direction: row !important;
		 margin: 40px 0 !important;
	}
	 #undergraduate-admissions-leadership .image-content img {
		 border-radius: 0 8px 8px 0;
	}
	 .scholarship-universe-grid {
		 padding: 45px 90px !important;
	}
	 .scholarship-universe-grid ul {
		 margin-left: -20px;
	}
	 #undergraduate-admissions-leadership .row.d-flex {
		 row-gap: 40px !important;
	}
	 #social-media-heading {
		 margin: 150px 0 20px 0 !important;
	}
}
 .admission-red-btn {
	 border-radius: 50px;
	 padding: 17.5px;
	 font-size: 18px;
	 border: none;
	 width: 100%;
}
 .admission-red-btn img {
	 position: relative;
	 top: 5px;
	 left: 10px;
}
 #undergraduate-admissions-leadership .content-column {
	 background-color: #FFFFFF;
	 border: 1px solid #E9E9E9;
	 display: flex;
	 flex-direction: column;
	 flex: 1;
	 position: relative;
	 padding-bottom: 40px;
}
 #undergraduate-admissions-leadership .split-content-container-campus {
	 width: 100%;
	 max-width: 1520px;
	 height: auto;
	 background-color: #FFFFFF;
	 border: 1px solid #E9E9E9;
	 margin: 0;
	 display: flex;
	 flex-direction: column;
	 flex-direction: column-reverse;
	 margin: 20px 0;
}
 #undergraduate-admissions-leadership .text-content {
	 width: 100%;
	 max-width: 650px;
	 display: flex;
	 flex-direction: column;
	 justify-content: center;
	 box-sizing: border-box;
	 height: 100%;
	 padding: 30px 40px 30px 40px;
}
 #undergraduate-admissions-leadership .image-content img {
	 width: 870px;
	 height: 100%;
	 object-fit: cover;
}
 .internal-link::after {
	 background-image: url(https://uh.edu/undergraduate-admissions/academics/_images/vector.png);
	 background-repeat: no-repeat;
	 background-size: contain;
	 content: "";
	 cursor: pointer;
	 display: inline-block;
	 height: 15px;
	 position: absolute;
	 right: 20px;
	 top: 50%;
	 transform: translateY(-50%);
	 width: 15px;
}
 .internal-link {
	 position: relative;
}
 #undergraduate-admissions-leadership .row.d-flex {
	 display: flex;
	 flex-wrap: wrap;
	 row-gap: 20px;
	 align-items: stretch;
}
 @media (max-width: 992px) {
	 #undergraduate-admissions-leadership .split-content-card {
		 width: 100%;
	}
}
 #undergraduate-admissions-leadership {
	 overflow: visible;
}
/* Social Media */
 #social-media-heading {
	 margin-left: auto;
	 margin-right: auto;
	 padding: 0 20px;
	 display: flex;
	 justify-content: center;
	 margin: 80px 0 0 0;
}
 .social-media-section {
	 -webkit-flex-direction: row;
	 -webkit-flex-wrap: wrap;
	 display: -webkit-flex;
	 display: flex;
	 flex-direction: row;
	 flex-wrap: wrap;
	 gap: 20px;
	 justify-content: center;
	 list-style: none;
	 margin-bottom: 40px !important;
	 margin-top: 3.75rem;
	 padding: 0;
	 position: relative;
	 z-index: 2;
}
 .social-media-section li {
	 margin-bottom: 0;
	 height: 90px;
	 width: 90px;
}
 .social-media-section li a {
	 background: #C8102E;
	 border-radius: 50%;
	 display: block;
	 height: 90px !important;
	 transition: background .25s ease;
	 width: 90px !important;
	 padding: 30px;
}
 .social-media-section li a svg {
	 fill: #fff;
}
 .youtube-icon svg {
	 margin-top: 3px;
}
 .reddit-icon svg {
	 margin-left: -2px;
}
 #social {
	 background-color: #1F1F1F;
	 overflow: visible;
	 margin-top: -8rem;
}
#social .crt-post .crt-post-fullname, 
#social .crt-social-icon svg, 
#social .crt-widget .crt-post-footer .crt-post-share a,
#social .crt-widget .crt-post-date a{
   color: white !important;
}

/* Staff Info */
 .staff-block {
	 max-width: 1120px;
	 padding: 0 60px;
	 margin: 0 auto;
}
 .staff-images {
	 justify-content: center;
	 flex-wrap: wrap;
	 list-style: none;
	 display: flex;
	 padding: 0;
}
 .staff-container {
	 position: relative;
	 background-color: #f5f5f5;
	 width: 150px;
	 height: 150px;
	 border-radius: 50%;
}
 .staff-container p {
	 width: 100%;
	 padding: 0 30px 30px 30px;
	 position: absolute;
	 top: 195px;
	 left: 50%;
	 transform: translateX(-50%);
	 display: none;
}
 #main-content p a:not(.btn) {
	 text-decoration: underline;
}
 .staff-block ul li {
	 width: 150px;
	 height: 150px;
}
 .staff-images li {
	 margin: 20px;
	 position: relative;
}
 .staff-photo {
	 background-color: #e9e9e9;
	 border: 3px solid #FFF;
	 width: 150px;
	 height: 150px;
	 border-radius: 50%;
	 margin: 0 auto;
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: center center;
	 font-size: 0;
}
 .staff-block {
	 max-width: 1120px;
	 padding: 0 60px;
	 margin: 0 auto;
}
 #overflow {
	 overflow: visible;
}
 .staff-container a {
	 text-decoration: underline;
}
 .staff-photo {
	 background-color: #e9e9e9;
	 border: 3px solid #FFF;
	 width: 150px;
	 height: 150px;
	 border-radius: 50%;
	 margin: 0 auto;
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: center center;
	 font-size: 0;
}
 .staff-container:hover .staff-photo, .staff-container:focus .staff-photo, .staff-container:focus-within .staff-photo {
	 border-color: #c8102e;
}
 .staff-block ul li {
	 width: 150px;
	 height: 150px;
}
 .staff-block {
	 max-width: 1120px;
	 padding: 0 60px;
	 margin: 0 auto;
}
 .staff-container {
	 position: relative;
	 background-color: #f5f5f5;
	 width: 150px;
	 height: 150px;
	 border-radius: 50%;
}
 .staff-container:hover, .staff-container:focus, .staff-container:focus-within {
	 width: 350px;
	 height: 375px;
	 border-radius: 0;
	 background-color: #FFF;
	 border: 1px solid #e9e9e9;
	 z-index: 101;
	 padding: 30px;
	 margin-top: -31px;
	 position: absolute;
	 left: 50%;
	 transform: translateX(-50%);
	 -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	 -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	 box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
	 outline: none;
}
 .staff-container p {
	 width: 100%;
	 padding: 0 30px 30px 30px;
	 position: absolute;
	 top: 195px;
	 left: 50%;
	 transform: translateX(-50%);
	 display: none;
}
 .staff-container:hover p, .staff-container:focus p, .staff-container:focus-within p {
	 display: block;
}
 .staff-images li img {
	 border: 3px solid #FFF;
}
 .staff-images li:hover img, .staff-images li:focus img, .staff-images li:focus-within img {
	 border: 3px solid #c8102e;
}
 .staff-images li {
	 margin: 20px;
	 position: relative;
}
 .ptext {
	 text-align: center;
	 max-width: 740px;
	 margin-left: auto;
	 margin-right: auto;
	 position: relative;
}
 