@charset "UTF-8";
/***********************************************************************
	Official UNIVERSITY OF HOUSON Web-app stylesheet.  
	This stylesheet is imported into official UH web applications.  
	It is not intended for use with static pages.  
	Created: September 2010, by the UIT Web Technologies Group.  
	Last Updated: September 2010
 CONTENTS: 

 	CLASSES
	---------
	HIGHLIGHT, BUTTON, BOX-TOP, FULLWIDTH
	 
 	IDs
	---------
APP-BANNER
	
/************************************************************************/
.box h2{
	margin-top:0px;	
}

ol{
	list-style:none;	
}
.show_right{
	float:right;	
}

header#app-banner{
	margin:0px 5px;
	padding: 0px;
	color:#fff;
}
header#app-banner h1{
    padding-top: 0px;   
}

#qualifiers li{
	margin-bottom: 0px;	
}

@media screen and (max-width: 800px){
	.half{
		width: 100%;	
	}
	.show_right{
		float:none;	
	}
	.one-quarter{ width:100%}
	
	#app-footer .divider {
   		border-left: none;
   	 	padding-left: 0px;
	}
}



#app-banner{background: #474849 url(https://www.uh.edu/directory/images/bg-hdr-directory.jpg) top repeat-x; }

.button{background: url(https://www.uh.edu/directory/images/bg-button.gif) center no-repeat ; width: 70px; height: 25px;} 
.fullwidth{width: 100%}


table.vcard th{
	vertical-align: top;	
}

/* ========      FORMATTING for VCARD Microformat    ======== */ 

#uhspn_search_form{padding: 0 10px;}
dd .campus{display: none;}
dt {margin-top: 20px;}
dl>dt:first-child{margin-top: 0;}
dd {line-height: 1em; margin-bottom: 0;}

#uhspn_search_results table caption { background-color: #E9EFF4; border-top: #CCC 1px solid;  border-bottom: #CCC 1px solid; width: 100%; padding: 15px;color: #000; font-weight: normal; size: 150%; text-align: left;}
#uhspn_search_results table {margin: 0; border: none;}
#uhspn_search_results table caption { background-color: #E9EFF4; border-top: #CCC 1px solid;  border-bottom: #CCC 1px solid; width: 100%; padding: 15px; color: #000; font-weight: normal; font-size: 1.3em; text-align: left;}
#uhspn_search_results table tr {border: none;}
#uhspn_search_results table th{ width: 30%; background: none; text-align: right; color: #777;font-weight: normal; border: none; }
#uhspn_search_results table td{ color: #000; border: none; }

#uhspn_search_results table.org_chart tr {border-bottom: #CCC 1px solid;}
#uhspn_search_results table.org_chart td li{border: #CCC 1px solid; background-color: #E9EFF4; padding: 10px; list-style: none; text-align: center;}


.box h2, .box .top {background-color: #E9EFF4; border-bottom: #CCC 1px solid;}
.box .top h2{border: none;}
.tinted{background-color: #F3F7FB;}
.search {background: #D4E6F0 url(https://www.uh.edu/directory/images/bg-search.jpg) no-repeat;}
.search h2{background: none; border: none;}

#uhspn_search_results dl{ padding: 10px;}
#uhspn_search_results dl dt{ font-size: 120%; }

.box dl{
	margin: 0px;	
}
dl.links {padding: 10px;}
dl.links dt a{font-size: 120%; color: #888; font-weight: bold;}
dl.links dt img {float: left; margin: 0 5px 20px 0;}



/************************************************************************/

/* ========      FORMATTING for the directory from the orginal file  ======== */

/* single view title for the persons name*/
.single_title{ font-weight:bold; font-size: 26px; padding-left: 45px;	height:45px;background-repeat:no-repeat; }

/*  single person sprit image */
#single_results #qualifier{ width: 300px; float:right; }

/* Use the sprite image */
#tools a { background:url(https://www.uh.edu/directory/images/green_nav.png); margin: 0px 5px 0px 0px;	height: 34px;	width: 93px; display:inline-block;}
#tools #single_filler{	width: 125px;}
#tools #vcard { background-position: -2px 0px; }
#tools #print { background-position: -97px 0px; }
#tools #send { width: 84px; background-position: -190px 0px; }
#tools a:hover{ border:none;}

#single_results ul{	margin:0px;	text-indent:-1em; padding:1em;}
#single_results li{ list-style-type:none; }

#single_results label{ font-weight: bold;	width: 100px; display: inline-block;text-align:right;	padding-right: 5px;	vertical-align:top;}
#single_results .address_block{	width: 150px;	display:inline-block;}

#more-search {}
#more-search ol, #more-search ol>li{clear: both;}
#more-search .fullwidth{ padding:10px; width: 90%; }
#more-search #jump_menu{ width: 95%; float:left;}
#more-search .tactical-list li{ float:left;}

#adv_search_menu a { text-decoration: none;	color: #000; float:left; width: 345px;}
#adv_search_menu ul{ list-style: none; margin: 0;padding: 0; width: 152px; }
#adv_search_menu li{ width: 345px; height: 23px; float: left; white-space: nowrap; margin: 0 1em 0.5em 0; }
#adv_search_menu li a{ display: block; padding: 0.25em; font: normal 105% arial, sans-serif;  }
#adv_search_menu li a:hover{ background: #333; color: #fff; }


.dropdowntrigger a, {width: 90%;}
.dropdowntrigger, .dropdowntrigger a:link, .dropdowntrigger a:visited { 
  width: 90%;
	height: 25px; 
	background: url('https://www.uh.edu/directory/images/down_arrow.png');
	background-position:right;
	background-color:#fff;
	background-repeat:no-repeat;
	overflow: hidden; 
	float: left; 
	position:relative;
	z-index: 5;
	margin: 2px;
	padding: 3px;
	border: 1px solid #CCC;
}
ol#uhs_dropdown_area li.box {width: 100%; padding: 15px;}

#uhspn_paginate {width: 100%; clear: both; }
#uhspn_paginate ul {padding: 20px; align: center}
#uhspn_paginate ul li{list-style: none; display: inline;}
#uhspn_paginate ul li a {font-size: 120%; padding: 10px;}
.uhspn_match{ padding: 0.5em 30px;}

.dropdownselected{
	background: url('https://www.uh.edu/directory/images/up_arrow.png') ;	
	background-position:right;
	background-color:#fff;
	background-repeat:no-repeat;
		border: 1px solid #9f9f9f;
}

#uhspn_search_advanced .title{
	overflow:hidden;
	width: 100%;
	padding: 5px 0 5px 5px;
	font-weight:bold;
	
}

#uhspn_search_advanced{
	border-bottom: 0;
	padding:0px;
	width:100%;
	height: 70px;
	margin: 5px 0 0 0;
	position:relative;
	z-index: 0;
}
.adv_search_menu{
	border: 1px solid #9f9f9f;
	width: 408px;
	background-color:#FFFFFF;
	padding: .5em 0 0 .5em; 
	overflow: hidden;
	margin: -40px 0 0 0;
	clear:both;
	position:absolute;
	
	z-index: 5;
}


#content-well{
	overflow:visible !important;
	margin: 0px auto;
}

.permalink{
	display:none;
}


#alert {
    background-color: #FFFF99;
    border: 1px solid #BE9653;
    color: #000000;
    font-size: 18px;
    margin: 0 0 10px 1px;
    padding: 7px;
}
#alert img {
    margin-right: 7px;
    vertical-align: -5px;
}