@charset "UTF-8";
/***********************************************************************
	Official UNIVERSITY OF HOUSON Web-app stylesheet.  
	This stylesheet is imported into official UH web applications.  
	It is not intended for use with static pages.  
	Created: September 2010, by the UIT Web Technologies Group.  
	Last Updated: September 2010
	
 CONTENTS: 

	HTML TAGS
	---------
	H1, SELECT, INPUT
	
	
	
	CLASSES
	---------
	BOX, COLUMN, DIVIDER, FULLWIDTH, GONE, HALF, HIGHLIGHT, ICON, LAYER, MAIN-BOX, NARROW, ONE-THIRD, TACTICAL-LIST, TOP, VCARD 
		
		
 	IDs
	---------
  APP-BANNER, APP-FOOTER, CONTENT-WELL, MORE-SEARCH, QUALIFIERS, TABS, TOOLS [PRINT, SEND, VCARD]
	
/************************************************************************/


/* ========      Modifications to HTML TAGS defined in MAIN-WEB.CSS  ======== */
h1{ padding: 15px 0 0 15px;font-size: 250%;}
h1 .subtitle {display: inline;}
#content-well select, #content-well input{border:#CCC 1px solid; } 


/* ========      MAIN-BOX    ======== */
#main-box { margin: 0px auto;} 
#main-box form ol li {border: none;}
#main-box form label.gone, .gone {display:none !important;}
#main-box form ol li.box {border: #CCC 1px solid;}


/* ========      CLASSES for LAYING OUT A GRID    ======== */
.layer{float: left; width: 100%; padding-bottom: 10px;}
.column{ float: left;}
.one-quarter{ width:25%}
.half{ width: 50%; }
.fullwidth{width: 100%;}
.box {border: #CCC 1px solid; float: left; width: 99%; background: #FFF; margin-top: 15px; }
.box input[type="text"], .box select{ margin-right: 30px;}
.box h2 {border-bottom: #CCC 1px solid; padding: 10px; margin-bottom: 0px;}
.bottom {border-top: #CCC 1px solid;}



/* ========      APP-BANNER & TABs  ======== */
#app-banner{ height: 60px;}
ul#tabs {list-style: none; padding: 0; margin: 0;float: right; clear: right; position: relative; top: -35px;margin-bottom: -30px;}
ul#tabs li{background: #929699 url(https://www.uh.edu/directory/images/bg-tab.png) top repeat-x; display: inline; float: left; padding: 0; margin: 0 5px 0 0; height: 35px;}
ul#tabs li.selected {background: #FFF; }
ul#tabs li a{ padding: 5px; height: 20px;  color: #000; float: left; }
ul#tabs li a:hover, ul#tabs li a:active{color: #C00; text-decoration: none;}



/* ========      CLASSES & IDs for FORMS    ======== */
#content-well form{background: none; border: none;padding: 0;}
#content-well form
.button{border: none; color: #FFF;} 

ul#qualifiers {margin-left: 10px;}
ul#qualifiers li{color: #000;}



/* ========      TACTICAL LIST of LINKS   ======== */
ul.tactical-list { }
ul.tactical-list li{display: inline; padding: 0; margin: 0;}
ul.tactical-list li a {padding: 5px;}
ul.tactical-list li a:hover, ul.tactical-list li a:active, ul.tactical-list li a.selected {color: #FFF; background-color: #C00; text-decoration: none;}



/* ========      FORMATTING for "NARROW YOUR SEARCH" TEXT   ======== */
.narrow {float: left; clear: both; text-transform:capitalize; }
.narrow a {color: #000; text-decoration: none; padding: 10px; font-size: 100%; position: relative; }
.icon {position: relative; top:5px;}



/* ========      TOOLS    ======== */
ul#tools{text-align: right;  }
ul#tools li {border: #CCC 1px solid; display: inline;background: #FFF  url(https://www.uh.edu/directory/images/bg-tab.png) ; padding: 2px 0px;}
ul#tools li a {padding: 8px 10px 8px 35px; color: #000; text-transform: uppercase; font-weight: normal; font-size: 85%; letter-spacing: .05em;}
ul#tools li#print a{ background:url(https://www.uh.edu/directory/images/print.gif) left  no-repeat;}
ul#tools li#send a{ background:url(https://www.uh.edu/directory/images/send.gif) left  no-repeat;}
ul#tools li.vcard a{ background:url(https://www.uh.edu/directory/images/vcard.gif) left  no-repeat;}



/* ========      APP-FOOTER    ======== */
#app-footer{border-top: #CCC 1px solid;}
#app-footer ul{ list-style:none;padding: 0;}
#app-footer .box{border: none;}
#app-footer h3 {padding: 0;}
#app-footer .divider{border-left: #CCC 1px solid; padding-left: 15px;}
#app-footer a{color: #000; font-weight: normal;}


/* ========      INSTRUCTIONS  ======== */
#instructions{background-color:#FFFFCC; border: 1px solid #FFFF00; }
#instructions p{padding: .25em 10px;}
#instructions h2{background-color: #FFFF00; }

