/* Explore Campus Hero Banner */
#explore-campus-hero-bg {
	background-color: #F5F5F5 !important;
	background-image: linear-gradient(90deg, rgba(0, 0, 0, 0.9) 6.72%, rgba(0, 0, 0, 0) 72.6%), url(https://uh.edu/undergraduate-admissions/explore-campus/_images/hero-banner.jpg);
}

.explore-campus-hero-text ul {
	list-style: none;
	display: flex;
	flex-wrap: wrap;
	padding-left: 0;
	margin: 0;
}

.explore-campus-hero-text ul li a:hover {
	background-color: #960c22;
}

.explore-campus-hero-text ul li {
	padding: 0;
}

.explore-campus-hero-text ul li a {
	padding: 12px 40px;
	border-radius: 50px;
	display: flex;
	justify-content: center;
	margin-top: 1rem;
	text-decoration: none !important;
	background-color: #C8102E;
	color: #FFFFFF !important;
}

@media (min-width: 768px) {
	#explore-campus-hero-bg {
		height: 700px;
	}


	.explore-campus-hero-text ul {
		column-gap: 15px;
		max-width:740px;
	}

	.explore-campus-hero-text {
		padding: 90px 40px 40px 0px;
	}

	.explore-campus-hero-text h1 {
		color: #FFFFFF;
	}

	.explore-campus-hero-text p {
		color: #FFFFFF;
		max-width: 610px;
	}
}

@media (max-width: 767px) {
	#explore-campus-hero-bg {
		background: none;
	}

	#explore-campus-hero-bg,
	#explore-campus-hero-bg .container {
		padding: 0;
	}

	.visible-xs img {
		width: 100%;
	}

	.explore-campus-hero-text {
		padding: 0 1.25rem;
	}
}

/* On-Campus Experiences */
.on-campus-ul {
	list-style: none;
	padding: 0;
	margin: 40px auto 0 auto;
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.on-campus-ul li {
	background-color: #FFFFFF;
	border-radius: 50px;
	border: 1px solid #E9E9E9;
	text-align: start;
	font-size: 18px;
	padding: 17px 0 17px 70px;
	position: relative;
}

.on-campus-ul li::before {
	background-image: url(https://uh.edu/undergraduate-admissions/explore-campus/_images/ellipse-5.png);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	cursor: pointer;
	position: absolute;
	left: 6%;
	top: 50%;
	transform: translateY(-50%);
	width: 20px;
	height: 20px;
}

.calendar-btn {
	border-radius: 50px;
	padding: 17.5px;
	font-size: 18px;
	position: relative;
	border: none;
	width: 100%;
}

.calendar-btn img {
	position: relative;
	top: 5px;
	left: 10px;
}

@media (min-width:768px) {
	#on-campus-experiences .section-heading {
		text-align: center;
		display: block;
		margin: 0;
	}

	.on-campus-ul {
		max-width: 1200px;
		display: flex;
		flex-direction: row;
		row-gap: 20px;
		column-gap: 40px;
		flex-wrap: wrap;
		justify-content: center;
	}

	.on-campus-ul li {
		width: 480px;
	}

	.on-campus-p {
		max-width: 740px;
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}

	.calendar-btn {
		margin-left: auto;
		margin-top: 30px;
		width: 350px;
	}

	.btn-container {
		text-align: center;
	}
}

/* On-Campus Experiences - split content*/
#on-campus-experiences .row {
	display: flex;
	flex-wrap: wrap;
	row-gap: 20px;
	align-items: stretch;
}

.arrow-link::after {
	background-image: url(https://www.uh.edu/undergraduate-admissions/explore-campus/_images/vector-black.png);
	background-repeat: no-repeat;
	background-size: contain;
	content: "";
	display: inline-block;
	height: 15px;
	position: absolute;
	right: 20px;
	top: 50%;
	transform: translateY(-50%);
	width: 15px;
}

.arrow-link a { text-decoration: none !important; }

.split-content-card {
	flex-direction: row;
	flex-wrap: wrap;
	display: flex;
}

#on-campus-experiences .content-column {
	background-color: #FFFFFF;
	border: 1px solid #E9E9E9;
	display: flex;
	flex-direction: column;
	flex: 1;
	position: relative;
	padding-bottom: 40px;
}

.explore-campus-grid {
	padding: 30px 40px 30px 40px;
}

.content-column-items {
	width: 100%;
}

.grid-column-items ul {
	margin: 0;
}

.grid-column-items ul li {
	width: 100%;
	max-width: 520px;
}

.content-column-items ul {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	list-style: none;
	row-gap: 2px;
	margin-bottom: 60px;
	padding: 0;
}

.content-column-items ul li {
	background-color: #F5F5F5;
	display: flex;
	flex-direction: row;
	font-size: 18px;
	justify-content: space-between;
	padding: 2.5px 0 2.5px 40px;
	width: 100%;
}

.content-column-items ul li:hover {
	background-color: #e9e9e9;
}

.internal-link {
	position: relative;
}

.content-column-items ul li a {
	align-items: center;
	color: #000000 !important;
	display: flex;
	justify-content: space-between;
	text-decoration: none;
	width: 100%;
	padding-right: 40px;
}

.grid-column-items ul {
	margin: 0;
}

.grid-column-items ul li {
	width: 100%;
	max-width: 520px;
	padding-left: 20px;
}

.split-content-container-cougar {
	width: 100%;
	max-width: 1520px;
	height: auto;
	background-color: #FFFFFF;
	border: 1px solid #E9E9E9;
	display: flex;
	flex-direction: column-reverse;
	margin-top: 50px;
	margin: 0;
}

.text-content {
	width: 100%;
	max-width: 650px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	box-sizing: border-box;
	padding: 30px 40px 30px 40px;
	height: 100%;
}

.text-content h2 {
	text-align: start !important;
}

.image-content img {
	width: 870px;
	height: 100%;
	object-fit: cover;
}

.text-content ul {
	width: 100%;
	background-color: #F5F5F5;
	padding-left: 20px;
}

.arrow-link {
	list-style: none;
	font-size: 18px;
	padding: 3px;
	position: relative;
}

.arrow-link a {
	color: #000000 !important;
	padding-right: 30px;
	display: block;
    width: 100%;
}

.arrow-link a:hover {
    text-decoration:none !important;
}

#on-campus-experiences .text-content ul:hover {
	background-color: #E9E9E9;
}

#on-campus-experiences .text-content li a:hover {
	text-decoration: none;
}

@media (min-width: 1200px) {
	.split-content-container-cougar {
		border-radius: 8px;
	}

	.text-content {
		padding: 60px 50px 60px 120px;
		/*  The paragraph's left padding is greater than the right to match the design */
	}

	.content-column-items ul {
		padding-left: 0;
		column-gap: 40px;
	}

	.content-column-items {
		margin-bottom: 0px;
	}

	.content-column-items ul li {
		padding-left: 40px;
	}

	.explore-campus-grid {
		padding: 90px;
	}

	.text-content ul {
		margin-left: -20px;
		padding-left: 40px;
	}

	.explore-campus-grid h2 {
		margin-left: auto;
		margin-right: auto;
		width: calc(100% - 4.5rem);
	}

	.explore-campus-grid p {
		width: calc(100% - 5rem);
		margin-left: auto;
		margin-right: auto;
	}

	.explore-campus-grid ul {
		padding-left: 20px;
	}

	.explore-campus-grid .grid-column-items {
		max-width: 500px;
	}

	.arrow-link a {
		margin-left: -20px;
	}
}

@media (min-width: 992px) {
	.row {
		margin-top: 40px;
	}
}

@media (min-width: 768px) and (max-width: 992px) {
	.text-content {
		padding: 40px 20px 20px 40px;
	}
}

@media (min-width: 768px) {
	.split-content-container-cougar {
		display: flex;
		flex-direction: row;
		height: auto;
		margin-top: 80px;
	}

	.text-content p {
		max-width: 480px;
	}

	.content-column.grid-section {
		flex: 1;
	}

	.grid-section {
		width: auto;
		padding-bottom: 5.5rem !important;
		border-radius: 8px;
	}

	#on-campus-experiences .image-content img {
		border-radius: 0 8px 8px 0;
	}

	.content-column-items {
		margin-bottom: auto;
	}
}



/* Guided Virtual Experiences */
#virtual-experiences .calendar-btn {
	margin-bottom: 40px;
}

@media (min-width: 768px) {
	#virtual-experiences .calendar-btn {
		width: 388px;
		margin-bottom: 80px;
	}

	#virtual-experiences h2 {
		margin-left: auto;
		margin-right: auto;
		justify-content: center;
		display: flex;
	}

	.guided-virtual-experiences-p {
		margin-left: auto;
		margin-right: auto;
		text-align: center;
		max-width: 740px;
	}
}

/* Campus Tour */
#campus-tour {
	background-color: #f5f5f5;
	overflow: visible;
	border-top: 1px solid #e9e9e9;
}

#tour-campus-container {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}

.tour {
	background-color: #fff;
	border: 1px solid #e9e9e9;
	border-radius: 8px;
	overflow: hidden;
	position: relative;
	transition: all 300ms ease;
}

.tour p {
	text-align: center;
	background-color: #FFF;
	margin: 0;
	padding: 15px;
	position: relative;
	z-index: 2;
}

.tour-img {
	aspect-ratio: 1 / 1;
	width: 100%;
	max-height: 350px;
	display: flex;
	align-items: center;
	justify-content: center;
	color: #FFF;
	transition: all 300ms ease;
}

.tour-img::before {
	content: "";
	position: absolute;
	display: block;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, .4);
	transition: all 300ms ease;
}

.tour-img::after {
	content: "360\00B0";
	font-weight: bold;
	display: block;
	position: absolute;
	transition: all 300ms ease;
}

.tour a {
	display: block;
	text-align: center;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 3;
}

.tour p span:after {
	content: "";
	background: url(https://www.uh.edu/_images/_homepage/arrow-right-solid-black.svg) center center no-repeat;
	background-size: contain;
	display: inline-block;
	height: 16px;
	width: 30px;
	margin-left: 10px;
	margin-bottom: -1px;
}

.uh-tour {
	background: url(https://www.uh.edu/_images/_homepage/uh-tour.jpg);
	background-size: cover;
	background-position: center center;
}

.academic-colleges-tour {
	background: url(https://www.uh.edu/_images/_homepage/academic-colleges.jpg);
	background-size: cover;
	background-position: center center;
}

.admission-red-btn {
	border-radius: 50px;
	padding: 17.5px;
	font-size: 18px;
	border: none;
	width: 100%;
}

.admission-red-btn img {
	position: relative;
	top: 5px;
	left: 10px;
}

@media (min-width:768px) {
	#tour-campus-container {
		max-width: 740px;
		margin-left: auto;
		margin-right: auto;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		column-gap: 40px;
		align-content: center;
		align-items: center;
		justify-content: center;
	}

	.campus-tour-intro {
		max-width: 610px;
		margin: 0 auto;
	}

	.tour {
		flex: 1;
		min-width: 220px;
		max-width: 481px;
	}

	.tour:hover .tour-img::before {
		background-color: rgba(0, 0, 0, 0);
	}

	.tour:hover .tour-img::after {
		opacity: 0;
	}

	.tour:hover .tour-img {
		transform: scale(1.05);
	}

	.tour a {
		display: block;
		text-align: center;
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		z-index: 3;
	}

	.tour p span:after {
		content: "";
		background: url(https://www.uh.edu/_images/_homepage/arrow-right-solid-black.svg) center center no-repeat;
		background-size: contain;
		display: inline-block;
		height: 16px;
		width: 30px;
		margin-left: 10px;
		margin-bottom: -1px;
	}

	.admission-red-btn {
		width: 350px;
	}
}

@media (min-width:992px) {
	.campus-tour-intro {
		flex: 1.37142857;
	}

	#tour-campus-container {
		max-width: 1260px;
	}
}

/* Off-Campus Experiences */
#off-campus-exp {
	margin-bottom: 20px;
}

#off-campus-exp-section ul:hover {
	background-color: #E9E9E9;
}

#off-campus-exp-section li a:hover {
	text-decoration: none;
}

@media (min-width: 768px) {
	#off-campus-exp {
		text-align: center;
		display: block;
		margin: 0;
		margin-bottom: -30px;
	}
}